<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <header>
    <img src="{{ site.baseurl }}/assets/images/Androit-logo-dark.png" alt="Androit Logo">
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/about">About Us</a></li>
        <li><a href="{{ site.baseurl }}/credits">Credits</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Androit. All rights reserved.</p>
  </footer>
</body>
</html>
